{% extends 'base.html' %}

{% block title %}
<title>ACCMarket</title>
{% endblock %}

{% block body %}
<div class="container-fluid bg-black py-5 text-center">
    <h1 class="display-4 fw-bold" style="color: var(--text-secondary);">МАГАЗИН ПО ПРОДАЖЕ АККАУНТОВ</h1>
    <p style="color: var(--text-spec);">гарантия безопасности | мгновенная доставка</p>
</div>

{% for account in accounts %}
    <div class="container py-5">
        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="card h-100">
<!--                    <img src="https://via.placeholder.com/300x200/333/ff0000?text=Fortnite" class="card-img-top" alt="Аккаунт">-->
                    <a href="/account/info/{{ account.name_product }}">
                        <div class="card-body">
                        <h5 class="card-title">{{ account.name_game }}</h5>
                        <p class="text-muted small">{{ account.name_product }}</p>
                        <div class="price">{{ account.price }} ₽</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}